@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
}

@layer components {
  h1,
  h2 {
    @apply text-very-dark-blue font-extrabold inline;
  }
  #notif p {
    @apply inline;
  }
  * {
    @apply text-dark-grayish-blue;
  }
}

@for $i from 1 through 7 {
  .anim:nth-child(#{$i}) {
    animation: anim 0.5s ease-in-out #{calc($i/3)}s backwards;
  }
}

@keyframes anim {
  0% {
    position: relative;
    left: -20px;
    opacity: 0;
  }
  100% {
    position: relative;
    left: 0px;
    opacity: 1;
  }
}
